
 body {
    margin: auto 0;
    height: 1900px;
    max-width: 100%;
    background-image: url("https://i.ibb.co/Y35X58v/Untitled-Artwork-11.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

* { 
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.background {
    
    height: 100vh;
    padding-top: 1px;
    background-repeat: no-repeat;
    background-size: 100%;

}
.title {
    color: rgb(255, 44, 44);
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}
.display {
    color:rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.hide {
    display: none
}
.container { 
    margin:  auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    background-image: url('https://i.ibb.co/2kjDJ9m/Untitled-Artwork-22.png');
    background-size: contain;
}
.tile {
    border: 1px solid transparent;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    /* this all the element to be clickable just like an anchor tag */
}
.playerX {
    color: transparent;
    background-image: url('https://i.ibb.co/26s00bt/Untitled-Artwork-16.png');
    background-size:contain;
    
}››
.playerO {
    color: transparent;
    background-image: url('https://i.ibb.co/q9FZR3k/Untitled-Artwork-17.png');
    background-size: contain;
}
.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
#reset {
    background-color: transparent;
    color: transparent;
    height: 400px;
    width: 400px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
    position: absolute;
    right: 90px;
    top: 500px;
    background-image: url('https://i.ibb.co/xDFXrQW/Untitled-Artwork-24.png');
    background-size: contain;
    border: transparent;

}


.playerOO {
    color: rgb(98, 2, 76);
    font-size: 75px;
 
}

.playerXX {
    color: rgb(98, 2, 76);
    font-size: 75px;
}

.playerXXX {
    color: rgb(98, 2, 76);
    font-size: 75px;
}
.playerOOO {
    color: rgb(98, 2, 76);
    font-size: 75px;
}
.fish {
    height: 100px;
    width:200px;
    background-image: url('https://i.ibb.co/Sd3mpsT/Untitled-Artwork-34.png');
    background-size: contain;
    position: absolute;
    right: 100px;
    top: 400px;
    z-index: 1;
    border: transparent;
    background-color: transparent;



}
.tank {
    top: 400px;
    height: 700px;
    width: 350px;
    background-image: url('https://i.ibb.co/WVYXrp2/Untitled-Artwork-26.png');
    background-size: cover;
    position: absolute;

}
.UFO {
    position: absolute;    
    width: 490px;
    height: 390px;
    background-image: url('https://i.ibb.co/0CbtBxZ/Untitled-Artwork-27.png');
    background-size: cover;
    left: 35%;
    top: 950px;
    
    

  }
  #left {
    background-image: url('https://i.ibb.co/vVkkV2T/Untitled-Artwork-28.png');
    background-size: cover;
    height: 120px;
    width: 100px;
    background-color: transparent;
    border: transparent;
    position: absolute;
    left: 250px;
    z-index: 1;
  }
  #right {
    background-image: url('https://i.ibb.co/DRzWmKn/Untitled-Artwork-29.png');
    background-size: cover;
    background-color: transparent;
    border: transparent;
    height: 120px;
    width: 100px;
    position: absolute;
    right: 250px;
    z-index: 1;
  }
  .top {
    height: 1360px;
    width: 100%;
    position: absolute;
    top: 1050px;
    background-image: url('https://i.ibb.co/fXYPbr5/Untitled-Artwork-30.png');
    background-size: cover;
    z-index: -0.5;
  }

  .back {
    height: 1360px;
    width: 100%;
    position: absolute;
    top: 1050px;
    background-image: url('https://i.ibb.co/q1N0fdz/Untitled-Artwork-32.png');
    background-size: cover;
    z-index: -1;
  }
  footer {
    text-align: center;
    top: 2300px;
    position: absolute;
    left: 50%;
    color: rgb(135, 135, 135);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;

  }

  .bear {
    position: absolute;
    right: 0;
    height: 400px;
    top: 500px;
  }
  .tick {
    top: 0;
    position: absolute;
    width: 60%;
  }

.boat {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 59%;
    z-index: -1;
}
h3 {
    font-size: 55px;;
}
.display-player {
    background-color: transparent;
    background-image:  url('https://i.ibb.co/q1N0fdz/Untitled-Artwork-32.png');
    background-size: cover;
}